.home-map_wrapper {
  position: relative;
}

circle {
  display: none;
}

.lg-map-tooltip {
  position: absolute;
  border: 1px solid black;
  padding: 5px 10px;
  font-size: 18px;
  font-weight: bold;
  background-color: #FAF7F8;
  color: #14141C;
}
