.quadrature__refinement__wrapper {
  margin-bottom: 15px;

  .quadrature__from, .quadrature__to {
    display: inline-block;
    text-align: center;

    span {
      display: block;
    }

    input {
      text-align: center;
      margin: 0 5px;
      width: 50px;
      border-radius: 5px;
      border: 1px solid #14141C;
    }
  }

  .quadrature__to {

  }

  .quadrature__from {
    margin: 0 5px 10px 0;
  }

  .plus-button {
    width: 40px;
    height: 40px;

  }

  .minus-button {
    width: 40px;
    height: 40px;
  }

}
