.btn {
  height: 45px;
  width: 140px;
  line-height: 34px;
  display: inline-block;
  border-radius: 5px;
  border: 1px solid silver;
  text-align: center;
  background: white;
  color: #14141C;
  box-sizing: border-box;
  cursor: pointer;
  outline: none;
  font-size: 19px;
  font-weight: 700;
  padding: 3px 5px;
}

.btn-small {
  width: 100px;
}

.btn-medium {
  width: 175px;
}

.btn-big {
  width: 240px;
}

.btn-white {
  background-color: #FAF2FA;
  background-image: linear-gradient(#FAF2FA, #E3E6E3);
  color: #14141C;
  border: 1px solid #14141C;
  margin: 10px 0;
}

.btn-blue {
  background-color: #34B3DE;
  background-image: linear-gradient(#34B3DE, #428CC7);
  color: #FAF2FA;
  border: 1px solid #21518F;
  margin: 10px 0;
}

.btn-dark-blue {
  background: #21518F;
  background-image: linear-gradient(#21518F, #191B38);
  color: #FAF2FA;
  border: 1px solid #14141C;
  margin: 10px 0;
}

@media screen and (min-width: 760px) {
  .btn-white:hover {
    background-color: #E3E6E3;
    background-image: linear-gradient(#E3E6E3, #FAF2FA);
  }

  .btn-dark-blue:hover {
    background: #191B38;
    background-image: linear-gradient(#191B38, #21518F);
  }

  .btn-blue:hover {
    background-color: #428CC7;
    background-image: linear-gradient(#428CC7, #34B3DE);
  }
}
