.carousel-wrapper {
  position: relative;
  overflow: hidden;

  .carousel-inner {
    display: flex;
    transition: transform .8s ease-in-out;
  }

  .child-wrapper {
    display: inline-block;
  }

  .arrowLeft {
    position: absolute;
    content: '';
    top: 210px;
    left: 0;
    background-color: rgba(20, 20, 42, 0.5);
    width: 50px;
    height: 35px;
    cursor: pointer;

    &:after {
      position: absolute;
      content: '';
      width: 30px;
      height: 30px;
      background-image: url('../images/arrow.png');
      background-repeat: no-repeat;
      top: 3px;
      right: 12px;
      transform: rotate(180deg)
    }
  }

  .arrowRight {
    position: absolute;
    content: '';
    top: 210px;
    right: 0;
    background-color: rgba(20, 20, 42, 0.5);
    width: 50px;
    height: 35px;
    cursor: pointer;

    &:after {
      position: absolute;
      content: '';
      width: 30px;
      height: 30px;
      background-image: url('../images/arrow.png');
      background-repeat: no-repeat;
      top: 2px;
      left: 12px;
    }
  }
}
