.add-estate-user__wrapper {
  border-bottom: 1px solid #1C4278;
  margin-bottom: 15px;
  text-align: center;

  .user__wrapper {
    overflow: hidden;
    height: 290px;
    -webkit-transition-property: height; /* Safari */
    -webkit-transition-duration: 2.5s; /* Safari */
    -webkit-transition-delay: 0.5s; /* Safari */
    transition-property: height;
    transition-duration: 2.5s;
    transition-delay: 0.5s;
    position: relative;

    .not-active {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(173, 168, 158, 0.6);
      content: '';
    }
  }

  .user__login {
    display: inline-block;
    margin-left: 3%;
    margin-right: 5%;
    text-align: left;

    h3 {
      height: 55px;
      line-height: 55px;
    }

    .input-wrapper {

      input {
        margin-left: 21px;
      }

      &.password {

        input {
          margin-left: 10px;
        }
      }
    }
  }

  .user-estate-buttons {
    margin-top: -35px;
    margin-left: -40px;
  }

  .login-divider {
    display: inline-block;
    font-size: 40px;
    margin: 0 20px;
    height: 155px;
    vertical-align: middle;
  }

  .guess__login {
    text-align: justify;
    display: inline-block;
    margin-left: 5%;
    margin-right: 3%;

    h3 {
      width: 350px;
    }

    .input-wrapper {

      input {
        margin-left: 15px;
      }

      &.email {
        input {
          margin-left: 21px;
        }
      }
    }

  }

  .user__wrapper.start-animation {
    height: 0;
  }

  .ready-state {
    height: 50px;
    line-height: 50px;
    color: #FAF7F8;
    background-color: #24ED25;
    background-image: linear-gradient(#24ED25, #26A717);

    p {
      font-size: 24px;
    }
  }

}
