.add-estate-user__wrapper {
  .user__login {
    display: inline-block;
  }

  .login-divider {
    display: inline-block;
    font-size: 40px;
    margin: 0 20px;
    height: 155px;
    vertical-align: middle;
  }

  .guess__login {
    display: inline-block;
  }
}
