.add-estate-user__wrapper {
  border-bottom: 1px solid #1C4278;
  margin-bottom: 15px;

  .user__wrapper {
    overflow: hidden;
    height: 290px;
    -webkit-transition-property: height; /* Safari */
    -webkit-transition-duration: 2.5s; /* Safari */
    -webkit-transition-delay: 0.5s; /* Safari */
    transition-property: height;
    transition-duration: 2.5s;
    transition-delay: 0.5s;
  }

  .user__login {
    display: inline-block;
  }

  .user-estate-buttons {
    text-align: center;
  }

  .login-divider {
    display: inline-block;
    font-size: 40px;
    margin: 0 20px;
    height: 155px;
    vertical-align: middle;
  }

  .guess__login {
    display: inline-block;
  }

  .user__wrapper.start-animation {
    height: 0;
  }

}
