.buy-estate-item__wrapper {
  margin: 0 10px 20px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(20,20,28,0.5);
  -moz-box-shadow: 0px 0px 20px 0px rgba(20,20,28,0.5);
  box-shadow: 0px 0px 20px 0px rgba(20,20,28,0.5);

  &.modal {
    position: initial;

    .all-images-btn {
      display: none;
    }
  }

  .estate-information {
    vertical-align: top;
    margin-left: 10px;
    height: 110px;
  }

  .item-link {
    display: block;
  }

  .all-images-btn {
    background-color: rgba(20, 20, 42, 0.7);
    width: 24px;
    height: 24px;
    position: absolute;
    bottom: 115px;
    right: 15px;
    cursor: pointer;

    &:after {
      position: absolute;
      content: '';
      width: 24px;
      height: 24px;
      background-image: url('/images/full-screen-icon.png');
      background-repeat: no-repeat;
      top: 2px;
      left: 2px;
    }
  }

  .favourite-icon {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 5px;
    left: 5px;
    cursor: pointer;
  }
}

.public-profile__estates {

  .buy-estate-item__wrapper {

    .all-images-btn {
      right: 0;
    }
  }
}
